extends _app

block init
    -const pageTitle = "show"; 
    -const pageDesc = "";
    -const pageName = "index";
    -const pathImg = "/images/index/";
   
block contents

    main(class=pageName)
    
        .show(data-show-speed="300")(data-show-auto="3000")
            .show-track
                ul.show-slide
                    li.show-slide__child
                        img(src=pathImg+"img_01.jpg", alt="")
                    li.show-slide__child
                        img(src=pathImg+"img_02.jpg", alt="")
                    li.show-slide__child
                        img(src=pathImg+"img_03.jpg", alt="")
                    li.show-slide__child
                        img(src=pathImg+"img_04.jpg", alt="")
                    li.show-slide__child
                        img(src=pathImg+"img_05.jpg", alt="")
                ul.show-nextprev
                ul.show-pagination
        
        .show(data-show-speed="300")(data-show-auto="3000")
            .show-track
                ul.show-slide
                    li.show-slide__child
                        img(src=pathImg+"img_01.jpg", alt="")
                    li.show-slide__child
                        img(src=pathImg+"img_02.jpg", alt="")
                    li.show-slide__child
                        img(src=pathImg+"img_03.jpg", alt="")
                    li.show-slide__child
                        img(src=pathImg+"img_04.jpg", alt="")
                    li.show-slide__child
                        img(src=pathImg+"img_05.jpg", alt="")
                ul.show-nextprev
                ul.show-pagination