extends _app

block init
    -var pageTitle = "slide"; 
    -var pageDesc = "";
    -var pageName = "index";
    -var pathImg = "/images/index/";
   
block cont

    main(class=pageName)
    
        .slide#a(data-slide-dur="1000")(data-slide-inter="1000")
            .slide__wrap
                ul.slide-cont
                    li.slide-cont__item
                        img(src=pathImg+"img_01.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_02.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_03.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_04.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_05.jpg", alt="")
                .slide-np
                ul.slide-pn
        
        .slide#aa
            .slide__wrap
                ul.slide-cont
                    li.slide-cont__item
                        img(src=pathImg+"img_01.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_02.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_03.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_04.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_05.jpg", alt="")
                .slide-np
                ul.slide-pn
        
        .slide#b(data-slide-form="fade")
            .slide__wrap
                ul.slide-cont
                    li.slide-cont__item
                        img(src=pathImg+"img_01.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_02.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_03.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_04.jpg", alt="")
                    li.slide-cont__item
                        img(src=pathImg+"img_05.jpg", alt="")
                .slide-np
                ul.slide-pn